.graphpinator-schema {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    background: rgb(39, 40, 34);
    padding: 10px 0 10px 10px;
    counter-reset: line;
    overflow-x: scroll;
}
.graphpinator-schema > .code {
    position: relative;
    padding-left: 75px;
}
.keyword, .ampersand {
    color: rgb(102, 217, 239);
}
.typename {
    color: rgb(230, 219, 116);
}
.bracket-square {
    color: orange;
}
.field-name, .argument-name, .string-literal {
    color: rgb(166, 226, 46);
}
.enum-item, .enum-literal {
    color: rgb(249, 38, 114);
}
.true, .false, .null {
    color: rgb(174, 129, 255);
}
.int-literal, .float-literal, .comma, .colon, .bracket-round, .bracket-curly {
    color: white;
}
.field-type > .typename {
    color: white;
}
.argument-type > .typename {
    color: white;
}
.union-type > .typename {
    color: white;
}
.equals, .vertical-line, .exclamation-mark {
    color: red;
}
.value-name {
    color: green;
}
.description {
    color: grey;
}
a {
    text-decoration: none;
}
a.typename[href]:hover {
    text-decoration: underline;
}
.offset {
    padding-left: 20px;
}
.line:before {
    position: absolute;
    left: 0;
    width: 40px;
    counter-increment: line;
    content: counter(line);
    border-right: 1px solid #ddd;
    padding-right: 10px;
    color: #888;
    text-align: right;
}
section:target {
    background-color: rgb(49, 50, 43);
}
.floating-container {
    position:fixed;
    top:20px;
    right:20px;
    z-index: 100;
    padding: 12px;
    background-color: grey;
    border-radius: 10px;
}
.floating-button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    font-size: 22px;
    font-weight: bold;
}
.floating-button:hover {
    border: 2px solid white;
}
.floating-button:not(:first-child) {
    margin-left: 5px;
}
.self-link:before {
    content: "\01F517";
    margin-left: -16px;
    font-size: 14px;
    padding-right: 2px;
    opacity: 0;
}
.self-link:hover:before {
    opacity: 1;
}
