html {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
body {
    background: rgb(39, 40, 34);
}
.offset-1 {
    padding-left: 20px;
}
.colon {
    /*margin-right: 5px*/
}
.line {
    display:block;
}
.keyword, .ampersand, .implements {
    color: rgb(102, 217, 239);
}
.typename {
    color: rgb(230, 219, 116);
}
.bracket-square {
    color: orange;
}
.field-name, .argument-name, .directive-usage-name, .directive-usage-value {
    color: rgb(166, 226, 46);
}
.enum-item, .enum-literal {
    color: rgb(249, 38, 114);
}
.true, .false {
    color: rgb(174, 129, 255);
}
.int-literal, .float-literal, .null, .comma, .colon, .argument-type, .field-type, .union-type, .bracket-round, .bracket-curly {
    color: white;
}
.equals, .vertical-line, .exclamation-mark, .location {
    color: red;
}
.value-name {
    color: green;
}
section {
    margin-top:15px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.arguments {
    display: inline;
}
.description {
    color: grey;
}
