.graphpinator-schema {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    background: rgb(39, 40, 34);
    padding: 10px;
    counter-reset: line;
}
.graphpinator-schema > .line{
    position: relative;
}
.keyword, .ampersand {
    color: rgb(102, 217, 239);
}
.typename {
    color: rgb(230, 219, 116);
}
.bracket-square {
    color: orange;
}
.field-name, .argument-name, .string-literal {
    color: rgb(166, 226, 46);
}
.enum-item, .enum-literal {
    color: rgb(249, 38, 114);
}
.true, .false, .null {
    color: rgb(174, 129, 255);
}
.int-literal, .float-literal, .comma, .colon, .bracket-round, .bracket-curly {
    color: white;
}
.field-type > .typename {
    color: white;
}
.argument-type > .typename {
    color: white;
}
.union-type > .typename {
    color: white;
}
.equals, .vertical-line, .exclamation-mark {
    color: red;
}
.value-name {
    color: green;
}
a {
    text-decoration: none;
}
a[href]:hover {
    text-decoration: underline;
}
.description {
    color: grey;
}
.graphpinator-schema > section {
    display: block;
}
.graphpinator-schema > section > .line, .graphpinator-schema > section > .offset, .graphpinator-schema > section > .description {
    position: relative;
    padding-left: 65px;
}
.offset {
    padding-left: 20px;
}
.line:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    color: #888;
    width: 40px;
    left: 0;
    position: absolute;
}
.offset > .line, .offset > .description {
    margin-left: 20px;
}
.offset > .offset > .line {
    margin-left: 20px;
}
